 *,
 *::before,
 *::after{
     margin: 0;
     padding: 0%;
     box-sizing: border-box;
 }
 html{
     font-size: 62.5;

 }
 .main{
     width: 100vw;
     height: 100vh;
     background-color: rgb(0, 0, 0);
     display: grid;
     place-items: center;
 }
 .musiccontainer
 {
     width: 95rem;
     height:55rem;
     background-color: rgb(147, 75, 132);
     border-radius: 2rem;
     box-shadow:0 1.2rem 3rem 0.5rem rgb(77, 33, 76),0 2rem 4rem 1rem rgb(233, 126, 233) ;
     margin: auto;
 }
 .musiccontainer #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
    color: rgb(0, 0, 0);
    margin-left: 15vh; 
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgb(0,0,0);
 }
 .musiccontainer #artist{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
    color: black;
    margin-left: 15vh; 
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 0 0.3rem 0.5rem rgb(0,0,0);
 }
 .image_container{
     width: 20rem;
     height: 20rem;
     margin: auto;
     margin-top: 5rem;
 }
 

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgb(0,0,0) ;
}
.music_controller .fas{
    color: blueviolet;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgb(0,0,0,0.4));
}
.music_controller{
    width: 20rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: auto;
    margin-top: 5rem;
}

.music_controller .main_button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(248, 247, 247);
    color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 1.4rem;
}
.music_controller .main_button2{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(249, 245, 245);
    color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 1.4rem;
}

.music_controller .fas-play:hover{
    background-color: blueviolet;
}
.anime{
    animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.progress_div{
    width: 50%;
    height: 0.5rem;
    box-shadow: 0 1px 0.4px rgb(13, 34, 112),0 2px 4px rgb(162, 14, 93,),0 2px 4px rgb(0,0,0);
    border-radius: 4rem;
    position: relative;
    margin-top: 2rem;
    margin-left: 380px;
    transition: all 1s linear;
    -moz-transition:width 1s linear ;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    cursor: pointer;
    -webkit-appearance:none;
    appearance: none;
    
}
.progress{
    position: absolute;
    top: 0px;
    left: 0;
    box-shadow: 0 1px 0.4px rgb(13, 34, 112),0 2px 4px rgb(162, 14, 93,),0 2px 4px rgb(0,0,0);
    width: 0%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 4rem;
   
    margin-top: 0.5rem;
    transition: width 1s linear;
    -moz-transition:width 1s linear ;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    cursor: pointer;
    -webkit-appearance:none;
    appearance: none;
}
.progress_duration_meter{
    display: flex;
    justify-content: space-between;
    
}